@keyframes rotateFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50%) scale(0) rotateZ(60deg);
      }
      
      100% {
        opacity: 1;
        transform: translateX(0) scale(1) rotateZ(0deg);
      }
}